<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.opencart.test.TestCaseVerifyHomePageTestOne"/>
      <class name="com.opencart.test.TestCaseVerifySpecialOfferPage"/>
      <!--  <class name="com.opencart.test.TestCommonUtilityFunctions"/>-->
    </classes>
  </test> <!-- Some Test -->
</suite> <!-- Some Suite -->
